.*

!/.gitignore

/TeamCity/credentials/
/TeamCity/credentials/*

/Infrasructure/terraform.tfstate
/Infrasructure/terraform.tfstate.*

solar-vortex.code-workspace

/Infrasructure/backend.tf

/TeamCity/credential.tf
/TeamCity/backend.tf

*.json